<?xml version="1.0"?>
<ruleset name="ADOdb">
	<description>The coding standard for ADOdb library (derived from PSR-2).</description>

	<!-- show report in color, with progress -->
	<arg name="report-width" value="auto"/>
	<arg name="colors"/>
	<arg value="p"/>

	<!-- files to process by default -->
	<arg name="extensions" value="php"/>
	<file>.</file>
	<exclude-pattern>./tests/</exclude-pattern>

	<arg name="encoding" value="utf-8"/>

	<rule ref="PSR2">
		<!-- Relaxing the rules a little bit for now, to avoid complex or
		     breaking changes that should go in next major release
		-->

		<!-- allow files to both declare symbols and execute code -->
		<exclude name="PSR1.Files.SideEffects"/>

		<!-- Don't enforce PSR-0 -->
		<exclude name="PSR1.Classes.ClassDeclaration"/>

		<!-- Relax class naming convention -->
		<exclude name="Squiz.Classes.ValidClassName"/>

		<!-- Allow leading underscore in class properties and methods -->
		<exclude name="PSR2.Classes.PropertyDeclaration.Underscore"/>
		<exclude name="PSR2.Methods.MethodDeclaration.Underscore"/>
	</rule>

	<!-- Ignore method name not camel caps for already processed files -->
	<rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
		<exclude-pattern>adodb.inc.php</exclude-pattern>
	</rule>

</ruleset>
