# ADOdb PHPStan standard configuration
#
# This file is part of ADOdb, a Database Abstraction Layer library for PHP.
#
# @link https://adodb.org Project's web site and documentation
# @link https://github.com/ADOdb/ADOdb Source code and issue tracker

parameters:
	level: 0
	paths:
		- .

	excludePaths:
		- vendor/
		- test/
