# ADOdb PHPStan standard configuration
#
# This file is part of ADOdb, a Database Abstraction Layer library for PHP.
#
# @link https://adodb.org Project's web site and documentation
# @link https://github.com/ADOdb/ADOdb Source code and issue tracker

parameters:
	level: 0
	paths:
		- .

	excludePaths:
		- vendor/
		- test/

		# Ignore obsolete / legacy drivers and files
		- drivers/adodb-ads.inc.php
		- datadict/datadict-mssql.inc.php
		- drivers/adodb-mssql.inc.php
		- drivers/adodb-mssqlpo.inc.php
		- drivers/adodb-mssql_n.inc.php
		- drivers/adodb-fbsql.inc.php       # Frontbase unsupported since PHP 5.3
		- */adodb-odbtp*.inc.php
		- */adodb-oracle.inc.php
		- */adodb-sqlite.inc.php
		- */adodb-sqlitepo.inc.php
		- */adodb-text.inc.php
		- */*-sybase*.inc.php               # Sybase unsupported since PHP 7.0
		- adodb-xmlschema.inc.php
		- pear/
		- adodb-pear.inc.php
		- session/old/

	ignoreErrors:
		# mcrypt moved to PECL, not bundled with PHP since 7.2.0
		- '#Function mcrypt_\w+ not found#'
		- '#Instantiated class PEAR_Error not found#'
		- '#Function adodb_daylight_sv not found#'
